html{
  background-image: url("../img/fond1.jpg");
}
body {
  font-family: Arial, Helvetica, Verdana;
/*color:#FFFFFF;
  text-align: justify;
*/
margin-top: 0px;
  margin-right: 25%;
  margin-bottom: 0px;
  margin-left: 25%;
/*  background-color: white;
*/
}
.titulo1{

  background-color: #0046ff;
  color: #00e8ff;
  margin-top: 15px;
  text-align: center;
  border-style: solid;
  border-top-width: 1px;
  /*border-top-left-radius: 2em;
  border-top-right-radius: 2em;*/
  border-bottom-width: 5px;
  /*border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;*/
  border-left-width: 2px;
  border-right-width: 1px;
  border-color: #00e8ff;
}
.contenedor{
  margin-top: 30px;
background-color:#247eff;
color: white;
/*width: 50%;
margin:1px auto;*/
}
.im1{

 border: #00e8ff 10px solid;

height: 200px;
width: 200px;

/*margin-top: 40px;*/


  /*border-bottom-left-radius: 6em;
  border-bottom-right-radius: 6em;
  border-top-left-radius: 6em;
  border-top-right-radius: 6em;*/
}
.im2{

  width:250px;
   float: left;
   border-radius: 15%;

height: 250px;


/*margin-top: 40px;*/


  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}
.imgs{

  width: 250px ;
   margin: 0px auto;
margin-top: 50px;
}


.par0 , .par1 , .par2, .par3{
  font-size: 18px;
  width: 90%;
    margin: auto;
    text-align: justify;
  margin-top: 20px;

}
.par2{

}

.titulo2{
width: 100%;
  background-color: #0046ff;
  color: #00e8ff;
  margin-top: 15px;
  text-align: center;
  border-style: solid;
  border-top-width: 1px;

  border-bottom-width: 5px;

  border-left-width: 2px;
  border-right-width: 1px;
  border-color: #00e8ff;;
}
.par3{
  color: white;
  font-size: 18px;
  width: 100%;
    margin: auto;
    text-align: justify;
    /*background-color:#434653;*/
  }

  .titulo3{
      margin-top:100px;
    width: 100%;
    background-color: #0046ff;
    color: #00e8ff;
    /*margin-top: 15px;*/
    text-align: center;
    border-style: solid;
    border-top-width: 1px;

    border-bottom-width: 5px;

    border-left-width: 2px;
    border-right-width: 1px;
    border-color: #00e8ff;
  }

  .titulo4{
      margin-top:10px;
    width: 100%;
margin: auto;
    background-color: #0046ff;
    color: #00e8ff;
    /*margin-top: 15px;*/
    text-align: center;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 5px;

    border-left-width: 2px;
    border-right-width: 1px;
    border-color: #00e8ff;
  }

  .hvr-sweep-to-bottom{

  }
  strong{
    color:#001797;
  }

  .contenedor2 , .contenedor3{
    margin-top: 30px;
  background-color:#247eff;
  color: white;
  /*width: 50%;
  margin:1px auto;*/
  }

.par5, .par6{
    font-size: 18px;
    width: 90%;
      margin: auto;
      text-align: justify;


  }

  .titulo7{
      margin-top:80px;
    width: 100%;
margin: auto;
background-color: #0046ff;
color: #00e8ff;
    /*margin-top: 15px;*/
    text-align: center;
    border-style: solid;
    border-top-width: 1px;

    border-bottom-width: 5px;

    border-left-width: 2px;
    border-right-width: 1px;
    border-color: #00e8ff;
  }


  .contenedor9{
    margin-top: 30px;
  background-color: #2244ff;
  color: white;

  /*width: 50%;
  margin:1px auto;*/
  }
  .im9{


     border-radius: 15%;



     height: 350px;

  /*margin-top: 40px;*/


    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }
  .imgs2{


     margin: 0px auto;
  margin-top: 50px;
  }
